@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Questrial&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--padrao-color);

    /*paleta de cores*/
    --primary-color--: #150134;
    --secondary-color--: #C200FF;
    --terty-color--: #FF16C6;
    --padrao-color: #fff;
    --header-color: rgba(255, 255, 255, 0.3);
}

body {
    background-color: var(--primary-color--);
    background-image: url(./img/fundo-portfifolio.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: var(--padrao-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
    padding: 20px;
    margin: 35px;
    border-radius: 100px;
    background-color: var(--header-color);
    opacity: 0.8;
}

.logo {
    margin: 20px;
}


.links-nav li{
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
}

.links-menu:hover {
    background: var(--header-color);
    border-radius: 15px;
}

#button-curriculo {
    display: flex;
    justify-content: center;
    border-style: none;
    width: 190px;
    padding: 10px;
    border-radius: 35px;
    background-color: var(--padrao-color);
    color: var(--primary-color--);
}


.container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 0;
}

.inicioContainer {
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.titulos {
    background: -webkit-linear-gradient( var(--padrao-color), var(--padrao-color), var(--terty-color--), var(--secondary-color--));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
}

.texto {
    margin: 10px;
}

#minha-img {
    width: 50%;
}
.links a {
    display: flex;
    justify-content: space-between;
}
.social-links a {
    margin-top: 30px;
    width: 150px;
    padding: 15px 10px;
    display: block;
    border-radius: 15px;
    display: inline-block;
    justify-content: center;
    border: 2px solid;
    border-color: var(--padrao-color);
}

.social-links {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

 .logos-redes {
    width: 30px;
 }
